//- view
doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  block vars
  head
    block prehead
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/@plotdb/sheet/main/index.min.css")
    +css("/assets/lib/@loadingio/loading.css/main/lite.min.css")
    block head
  body
    block body
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@plotdb/sheet/main/index.min.js")
    +script("/assets/lib/@plotdb/datum/dev/index.min.js")
    block script
