extends /base.pug
block head
  style(type="text/css"): :stylus
    .cell.fixed
      display: flex
      align-items: center
      justify-content: center
block body
  .w-1024.rwd.mx-auto.my-4
    .aspect-ratio.ratio-3by2: .root.border.shadow-sm.rounded
block script
  script(type="module"): include:lsc index.ls
